In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Solar+Data+Set.csv")

In [3]:
df.head()

            Date  Solar Ir
0  1/1/2019 0:00        0.0
1  1/1/2019 1:00        0.0
2  1/1/2019 2:00        0.0
3  1/1/2019 3:00        0.0
4  1/1/2019 4:00        0.0

In [4]:
df.isnull().sum()

Date         0
Solar Ir     0
dtype: int64

In [7]:
train_set = df.iloc[:8712,1:2].values
test_set = df.iloc[8712:,1:2].values

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
sc = MinMaxScaler(feature_range=(0,1))
train_set_scale = sc.fit_transform(train_set)
test_set_scale = sc.fit_transform(test_set)